*~
bin
obj
*.*sdf
*.suo
*.user
*.pidb
*.userprefs
*.nupkg
*.binlog
*.pfx
**/test-results/*
_Resharper*
*.unitypackage
libs/profiles
packages
.vs
/TestResults/*
/SyntaxTree.VisualStudio.Unity.UITests/UnityTestProjects/**/Assets/UnityVS.meta
/SyntaxTree.VisualStudio.Unity.UITests/UnityTestProjects/**/Assets/UnityVS
/SyntaxTree.VisualStudio.Unity.UITests/UnityTestProjects/**/Library
/SyntaxTree.VisualStudio.Unity.UITests/UnityTestProjects/**/Temp
/SyntaxTree.VisualStudio.Unity.UITests/UnityTestProjects/**/*.csproj
/SyntaxTree.VisualStudio.Unity.UITests/UnityTestProjects/**/*.sln
/CredentialProvider.VSS.exe
/NuGet.exe
