<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!--
         <add key="MicroBuild Internal" value="\\cpvsbuild\drops\Engineering\nuget\MicroBuild" />
         <add key="DevDiv Internal" value="\\cpvsbuild\drops\dd\nuget" />
    -->
	
	<!--
         When the old Microbuild v2 Default Pool agents were retired the new agents were created on Azure VMs
         The Azure to \\cpvsbuild latency is 30 times what we see on corpnet (can be measured with a simple ping)
         SMB enumeration of files on a file share is very chatty and somewhat serialized which means enumeration duration scales with respect to latency rather than bandwidth
         A dir of \\cpvsbuild\drops\dd\nuget takes 200 seconds from an Azure VM as opposed to 4 seconds locally
         Nuget ends up doing a full enumeration of all the files on the file share for each package it restores
         This means nuget against a file share feed is super sensitive to latency issues
         The new VSTS VS feed is far more efficient as no file share enumeration is required
	-->
    <add key="MicroBuild Internal" value="https://devdiv.pkgs.visualstudio.com/DefaultCollection/_packaging/MicroBuildToolset/nuget/v3/index.json" />
    <add key="DevDiv Internal" value="https://devdiv.pkgs.visualstudio.com/DefaultCollection/_packaging/VS/nuget/v3/index.json" />

    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />

	</packageSources>
</configuration>