<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="DevDiv Aggregate" value="https://devdiv.pkgs.visualstudio.com/_packaging/devdiv-aggregate/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>
