name: CI-Windows

on:
  push:
    branches:
    - master
    - release/*
  pull_request:
    branches:
    - master
    - release/*

jobs:
  windows:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v1
      
    # So far we need Unity assemblies (Managed) and framework 4.7.1 reference assemblies (MonoBleedingEdge\lib\mono\4.7.1-api) for testing
    # We don't need to download/install Unity every run, we just need to cache those managed assemblies
    # But we have to deal with the following:
    # - the cache only works under the GITHUB_WORKSPACE folder (so we cannot cache C:\Program Files\Unity)
    # - the cache is linited to 400M per run (so we cannot cache the full Unity installation)
    # - When Unity is not installed, our detection logic will fallback to C:\Program Files\Unity given we miss registry keys      
    - name: Enable Unity Cache Support
      id: cache-unity
      uses: actions/cache@v1
      with:
        key: ${{ runner.os }}-unitycache-2018.4.19f1
        path: UnityCache
      
    - name: Download Unity 2018.4.19f1 LTS
      if: steps.cache-unity.outputs.cache-hit != 'true'
      run: bitsadmin /TRANSFER unity /DOWNLOAD /PRIORITY foreground "https://download.unity3d.com/download_unity/459f70f82ea4/Windows64EditorInstaller/UnitySetup64-2018.4.19f1.exe" "%CD%\unitysetup.exe"
      shell: cmd
      
    - name: Install Unity
      if: steps.cache-unity.outputs.cache-hit != 'true'
      run: unitysetup.exe /UI=reduced /S
      shell: cmd
              
    - name: Prepare Managed Cache
      if: steps.cache-unity.outputs.cache-hit != 'true'
      run: xcopy /s /i /y /q "C:\Program Files\Unity\Editor\Data\Managed" "UnityCache\Managed"
      shell: cmd
      
    - name: Prepare MonoBleedingEdge Cache
      if: steps.cache-unity.outputs.cache-hit != 'true'
      run: xcopy /s /i /y /q "C:\Program Files\Unity\Editor\Data\MonoBleedingEdge" "UnityCache\MonoBleedingEdge"
      shell: cmd
      
    - name: Restore Managed Cache
      if: steps.cache-unity.outputs.cache-hit == 'true'
      run: xcopy /s /i /y /q "UnityCache\Managed" "C:\Program Files\Unity\Editor\Data\Managed"
      shell: cmd

    - name: Restore MonoBleedingEdge Cache
      if: steps.cache-unity.outputs.cache-hit == 'true'
      run: xcopy /s /i /y /q "UnityCache\MonoBleedingEdge" "C:\Program Files\Unity\Editor\Data\MonoBleedingEdge"
      shell: cmd
      
    - name: Test context (master)
      if: github.ref == 'refs/heads/master'
      env: 
        TEST_FILTER: .
    
    - name: Test context (feature)    
      if: github.ref != 'refs/heads/master'
      env: 
        TEST_FILTER: FullyQualifiedName!~ConsistencyTests

    - name: Test
      run: dotnet test -c Debug ./src/Microsoft.Unity.Analyzers.Tests --filter $TEST_FILTER
      env:
        DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
        DOTNET_CLI_TELEMETRY_OPTOUT: true
      shell: cmd
