name: CI-Windows

on:
  push:
    branches:
    - master
    - release/*
  pull_request:
    branches:
    - master
    - release/*

jobs:
  windows:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v1
      
    - name: Enable Unity Cache Support
      id: cache-unity
      uses: actions/cache@v1
      with:
        key: ${{ runner.os }}-unity
        path: Managed
      
    - name: Download Unity 2018 LTS
      if: steps.cache-unity.outputs.cache-hit != 'true'
      run: bitsadmin /TRANSFER unity /DOWNLOAD /PRIORITY foreground "https://download.unity3d.com/download_unity/05119b33d0b7/Windows64EditorInstaller/UnitySetup64-2018.4.14f1.exe" "%CD%\unitysetup.exe"
      shell: cmd
      
    - name: Install Unity
      if: steps.cache-unity.outputs.cache-hit != 'true'
      run: unitysetup.exe /UI=reduced /S
      shell: cmd
              
    - name: Prepare Cache
      if: steps.cache-unity.outputs.cache-hit != 'true'
      run: xcopy /s /i /y /q "C:\Program Files\Unity\Editor\Data\Managed" Managed
      shell: cmd
      
    - name: Restore Cache
      if: steps.cache-unity.outputs.cache-hit == 'true'
      run: xcopy /s /i /y /q Managed "C:\Program Files\Unity\Editor\Data\Managed"
      shell: cmd
      
    - name: Test
      run: dotnet test -c Debug ./src/Microsoft.Unity.Analyzers.Tests
      env:
        DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
        DOTNET_CLI_TELEMETRY_OPTOUT: true
      shell: cmd
